<main>
    <form class="auth-form" [formGroup]="signInFormReactive" (ngSubmit)="onLogin(signInFormReactive)" #f="ngForm">
        <header>
            <h1>Sign In</h1>
        </header>
        <div class="fields" *ngIf="!f.submitted">
            <div class="auth-field">
                <label for="email">Email</label>
                <input name="email" type="text" formControlName="email">
                <span class="validation" *ngIf="!signInFormReactive.get('email').valid && signInFormReactive.get('email').touched">Please, enter a valid email!</span>
            </div>
            <div class="auth-field">
                <label for="password">Password</label>
                <input name="password" type="password" formControlName="password" #pass>
                <span class="validation" *ngIf="!signInFormReactive.get('password').valid && signInFormReactive.get('password').touched"> Please, enter a valid password! From 8 to 15 symbols.</span>
            </div>
            <button class="submit">Sign in</button>
        </div>
        <div *ngIf="!successfullLogin && f.submitted" class="fields">
            <div *ngFor="let e of errors" class="auth-field">{{e}}</div>
            <button class="submit" (click)="proceed()">GO</button>
        </div>
    </form>
</main>